<span class="glyphicon glyphicon-remove pull-right" ng-click="cancel()" style="margin:20px"></span>
<section data-ng-init="findData()">
  <div class="modal-header">
    <h3 class="modal-title">Assign a Task</h3>
  </div>
  <div class="modal-body" >
    <h5 ng-if="datas.length === 0">No Options yet</h5>
    <ul ng-repeat="data in datas" ng-if="datas.length !== 0">
      <img src="/modules/core/img/bag.png" style="float:right" />
      <a ng-click="selectedData(data)" style="text-decoration:none">
        <li data-ng-bind="data.name" style="list-style:none ; font-weight : bold ; font-size:1.2em ; border-bottom:2px solid grey"></li>
      </a>
    </ul>
    <ul ng-if="taskClicked">
      <button class="btn btn-danger delTask" ng-click="selectedData(data)">
        <h5 style="font-weight:bold; font-size:1.2em;">Delete Task</h5>
      </button>
    </ul>
  </div>
</section>