<ul class="popoverBox" data-ng-controller="ProjectsController">
  <div class="modal-header">
    <span class="glyphicon glyphicon-remove pull-right" data-ng-click="cancel()" style="margin:10px"></span>
    <h3 class="modal-title">Edit Project</h3>
  </div>
  <li>
    <label for="project">Name
      <span class="req">*</span>
    </label>
    <br>
    <input type="text" id="name" name="name" class="form-control" ng-model="updateData.name" required novalidate/>
  </li>
  <br>
  <div class="modal-footer">
    <button class="btn btn-primary pull-right flatbtn" ng-click="updateLabel()">Save</button>
    <button class="btn btn-danger pull-left flatbtn" ng-click="deactivate()">Inactivate this Project</button>
  </div>
</ul>


