<!-- <div data-ng-controller="HeaderController">
  <div class="footer">
    <p>
      Andela Institute &#8226; <a href="mailto:info@andela.co">info@andela.co</a>
      &#8226; 314, Herbert Macaulay Road, Sabo Yaba, Lagos &#8226; Phone : +1 888-472-5913
    </p>
    <p class="copyright">
      &copy 2014.
      <a href="http://www.andela.co"> Lovingly crafted by <span class="ElabsSymbol">Andela </span> <img class="andelaLogo" src="modules/core/img/andelalogo.png">
      </a>
    </p>
  </div>
</div> -->
